html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: url(http://i160.photobucket.com/albums/t180/dominofoe/FCC-Weather%20App/mist-large.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -999;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Krona One', sans-serif;
}

small {
    color: #000 !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: rgba(80, 180, 212, 0.6);
    padding-top: 10px;
}

footer img {
    height: 40px;
    cursor: pointer;

}

.row-bottom-margin-50 {
    margin-bottom: 50px;
}

.row-bottom-margin-70 {
    margin-bottom: 70px;
}

.well {
    background-color: rgba(80, 180, 212, 0.6);
}

#forecast {
    display: none;
}

.celsius-setting {
    display: none;
}

.navbar-brand {
    font-size: 2em;
}

.navbar-toggle {
    background-color: #222222;
}

span.icon-bar {
    background-color: #e7e7e7;
}

#buttons {
    margin-top: 20px;
}

.settings {
    margin: 10px auto 0 auto;
}

#locale {

    text-align:center;
    font-size: 2em;
    color: #000;
    text-shadow: 0 0 4px #50b4d4;
}

#fehren {
    background-image: url("http://i160.photobucket.com/albums/t180/dominofoe/FCC-Weather%20App/Fehrenhiet-icon.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;


}

#celsius {
    background-image: url("http://i160.photobucket.com/albums/t180/dominofoe/FCC-Weather%20App/Celsius-icon.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

}

.forecastDate {
    font-size: 1.5em;
}





